* {
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 1.5vw;
}

header {
    background-color: blue;
    color: #eee;
}

.nav-header {
    color: #eee;
    background-color: green;
    font-size: 2vw;
    padding: 1vh 0;
}

.nav-link {
    color: #eee;
}

.nav-item .active {
    color: cyan;
}

.nav-item:hover {
    background-color: #33c;
}

.nav-link:hover {
    color: #eee;
}

body {
    background-color: #66a;
}

#forecast-panel {
    background-color: darkblue;

}

.forecast-item {
    background: skyblue;
    border: 1px solid black; 
    border-radius: 2vw;
    box-shadow: 1.5vw 1.5vw 1vw #222;
    margin: 2vw 1vw;
    width: 20%; 
    height: 12vw; 
    text-align: center;
}

#weather-panel {
    background-color: grey;
}

.history-item {
    border: 1px dotted grey; 
    width: 20%; 
    height: 20vh; 
    text-align: center;
}

footer {
    background-color: blue;
    color: #eee;
    line-height: 3vh;
}

/* Google Maps */
#map {
    height: 20vh;
    width: 20vw;
}
/*
html, body {
    height: 20vh;
    width: 20vw;
    margin: 0;
    padding: 0;
} */ */
