* {
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 1.5vw;
}

header {
    background-color: blue;
    color: #eee;
}

.nav-header {
    color: #eee;
    background-color: green;
    font-size: 2vw;
    padding: 1vh 0;
}

.nav-link {
    color: #eee;
}

.nav-item .active {
    color: cyan;
}

.nav-item:hover {
    background-color: #33c;
}

.nav-link:hover {
    color: #eee;
}

footer {
    background-color: blue;
    color: #eee;
    line-height: 3vh;
}

/* Google Maps */
#map {
    height: 20vh;
    width: 20vw;
}
/*
html, body {
    height: 20vh;
    width: 20vw;
    margin: 0;
    padding: 0;
} */ */
